{% extends 'base.html' %}

{% block title %}Device Connection List{% endblock %}

{% block body %}

<table>
    <tr>
        <th>Device A</th>
        <th>Port A</th>
        <th>Device B</th>
        <th>Port B</th>
        {% if perms.inventory.add_deviceconnection or perms.inventory.change_deviceconnection or perms.inventory.delete_deviceconnection %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_deviceconnection %}
            <a href="{% url 'inventory__device_connection-scan' %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>

    {% for device_connection in object_list %}
    <tr>
        <td>
            <a href="{{ device_connection.a_device.get_absolute_url }}">
                {{ device_connection.a_device }}
            </a>
        </td>
        <td>
            <a href="{{ device_connection.a_port.get_absolute_url }}">
                {{ device_connection.a_port }}
            </a>
        </td>
        <td>
            <a href="{{ device_connection.b_device.get_absolute_url }}">
                {{ device_connection.b_device }}
            </a>
        </td>
        <td>
            <a href="{{ device_connection.b_port.get_absolute_url }}">
                {{ device_connection.b_port }}
            </a>
        </td>
        {% if perms.inventory.add_deviceconnection or perms.inventory.change_deviceconnection or perms.inventory.delete_deviceconnection %}
        <td>
            {% if perms.inventory.change_deviceconnection %}
            <a href="{% url 'inventory__device_connection-update' pk=device_connection.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_deviceconnection %}
            <a href="{% url 'inventory__device_connection-delete' pk=device_connection.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
