{% extends "base.html" %}

{% block title %}Device Connection Details{% endblock %}

{% block body %}
{% if perms.inventory.add_deviceconnection %}
<a href="{% url 'inventory__device_connection-scan' %}">
    Scan a new connection
</a>
{% endif %}
<h3>Details</h3>
<table>
    <tr>
        <th>Device A</th>
        <td>
            <a href="{{ object.a_device.get_absolute_url }}">
                {{ object.a_device }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Port A</th>
        <td>
            <a href="{{ object.a_port.get_absolute_url }}">
                {{ object.a_port }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Device B</th>
        <td>
            <a href="{{ object.b_device.get_absolute_url }}">
                {{ object.b_device }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Port B</th>
        <td>
            <a href="{{ object.b_port.get_absolute_url }}">
                {{ object.b_port }}
            </a>
        </td>
    </tr>
</table>

{% endblock %}
