{% extends "base.html" %}

{% block title %}Inventory Location Details{% endblock %}

{% block body %}
<div>
    <a href="{% url 'inventory__device-update' pk=object.pk %}">edit</a>
</div>
<h3>Details</h3>
<table>
    <tr>
        <th>Reference Number</th>
        <td>{{ object.reference_number_str }}</td>
    </tr>
    <tr>
        <th>Emulab Node Name</th>
        <td>{{ object.emulab_node_name }}</td>
    </tr>
    <tr>
        <th>Node Type</th>
        <td>
            <a href="{{ object.node_type.get_absolute_url }}">
                {{ object.node_type }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Serial Number</th>
        <td>{{ object.serial_number }}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>
            <a href="{{ object.location.get_absolute_url }}">
                {{ object.location }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Role</th>
        <td>
            {% if object.role is not None %}
            <a href="{{ object.role.get_absolute_url }}">
            {% endif %}
                {{ object.role }}
            {% if object.role is not None %}
            </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Barcode</th>
        <td>
            <a href="{% url 'inventory__device-barcode' pk=object.pk %}"
                target="_blank">barcode</a>
        </td>
    </tr>
</table>

<h3>Connections</h3>

<table>
    <tr>
        <th>Port</th>
        <th>Other Device</th>
        <th>Other Device Port</th>
        {% if perms.inventory.add_deviceconnection or perms.inventory.change_deviceconnection or perms.inventory.delete_deviceconnection %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_deviceconnection %}
            <a href="{% url 'inventory__device-device_connection-scan' pk=object.pk %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>

    {% for device_connection_a in object.deviceconnection_a_set.all %}
    <tr>
        <td>
            <a href="{{ device_connection_a.a_port.get_absolute_url }}">
                {{ device_connection_a.a_port }}
            </a>
        </td>
        <td>
            <a href="{{ device_connection_a.b_device.get_absolute_url }}">
                {{ device_connection_a.b_device }}
            </a>
        </td>
        <td>
            <a href="{{ device_connection_a.b_port.get_absolute_url }}">
                {{ device_connection_a.b_port }}
            </a>
        </td>
        {% if perms.inventory.add_deviceconnection or perms.inventory.change_deviceconnection or perms.inventory.delete_deviceconnection %}
        <td>
            {% if perms.inventory.change_deviceconnection %}
            <a href="{% url 'inventory__device_connection-update' pk=device_connection_a.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_deviceconnection %}
            <a href="{% url 'inventory__device_connection-delete' pk=device_connection_a.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}

    {% for device_connection_b in object.deviceconnection_b_set.all %}
    <tr>
        <td>
            <a href="{{ device_connection_b.b_port.get_absolute_url }}">
                {{ device_connection_b.b_port }}
            </a>
        </td>
        <td>
            <a href="{{ device_connection_b.a_device.get_absolute_url }}">
                {{ device_connection_b.a_device }}
            </a>
        </td>
        <td>
            <a href="{{ device_connection_b.a_port.get_absolute_url }}">
                {{ device_connection_b.a_port }}
            </a>
        </td>
        {% if perms.inventory.add_deviceconnection or perms.inventory.change_deviceconnection or perms.inventory.delete_deviceconnection %}
        <td>
            {% if perms.inventory.change_deviceconnection %}
            <a href="{% url 'inventory__device_connection-update' pk=device_connection_b.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_deviceconnection %}
            <a href="{% url 'inventory__device_connection-delete' pk=device_connection_b.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
