{% extends "form.html" %}

{% load static %}

{% block body %}
{{ block.super }}
    <script type="module">
        import 'https://code.jquery.com/jquery-3.5.1.min.js';
        const $ = window.$;

        import { create_device_edit_barcode_reader }
            from '{% static "inventory/device_edit_barcode_reader.js" %}';

        $("#scan_a_code").click(function() {
            create_device_edit_barcode_reader('quagga_video',
                                              '#serial_number_id',
                                              '#location_select_id');
        });
    </script>

    <div>
        <h3>Scan a code</h3>
        <input id="scan_a_code" type="button" value="Scan"></input>
        <div id="quagga_video"></div>
    </div>

{% endblock %}
