{% extends 'base.html' %}

{% block title %}Location List{% endblock %}

{% block body %}

<table>
    <tr>
        <th>Reference Number</th>
        <th>Location</th>
        <th>Barcode</th>
        <th>Connection Diagram</th>
        {% if perms.inventory.add_locationnote %}
        <th>Add notes</th>
        {% endif %}
        {% if perms.inventory.add_location or perms.inventory.change_location or perms.inventory.delete_location %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_location %}
            <a href="{% url 'inventory__location-create' %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for location in object_list %}
    <tr>
        <td>
            <a href="{% url 'inventory__location-detail' pk=location.pk %}">
                {{ location.reference_number_str }}
            </a>
        </td>
        <td>{{ location.description }}</td>
        <td>
            <a href="{% url 'inventory__location-barcode' pk=location.pk %}"
                target="_blank">barcode</a>
        </td>
        <td>
            <a href="{% url 'inventory__location-connections' pk=location.pk %}"
                target="_blank">connections</a>
        </td>
        {% if perms.inventory.add_locationnote %}
        <td>
            <a href="{% url 'inventory__location_note-create' location_pk=location.pk %}">add note</a>
        </td>
        {% endif %}
        {% if perms.inventory.add_location or perms.inventory.change_location or perms.inventory.delete_location %}
        <td>
            {% if perms.inventory.change_location %}
            <a href="{% url 'inventory__location-update' pk=location.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_location %}
            <a href="{% url 'inventory__location-delete' pk=location.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
