{% extends "base.html" %}

{% block title %}Inventory Location Details{% endblock %}

{% block body %}
<div>
    {{ object.description }}
    <a href="{% url 'inventory__location-update' pk=object.pk %}">edit</a>
</div>
<div>
    <a href="{% url 'inventory__location-barcode' pk=object.pk %}"
        target="_blank">barcode</a>
</div>
<div>
    <a href="{% url 'inventory__location-connections' pk=object.pk %}"
        target="_blank">connections</a>
</div>

<h3>Notes</h3>
<table>
    <tr>
        <th>Creator</th>
        <th>Creation Time</th>
        <th>Last Updated</th>
        <th>Note</th>
        {% if perms.inventory.add_locationnote or perms.inventory.change_locationnote or perms.inventory.delete_locationnote %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_locationnote %}
            <a href="{% url 'inventory__location_note-create' location_pk=object.pk %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for location_note in object.locationnote_set.all %}
    <tr>
        <td>
            {{ location_note.creator }}
        </td>
        <td>
            {{ location_note.creation_time }}
        </td>
        <td>
            {{ location_note.last_modified_time }}
        </td>
        <td>
            {{ location_note.note|linebreaksbr }}
        </td>
        {% if perms.inventory.add_locationnote or perms.inventory.change_locationnote or perms.inventory.delete_locationnote %}
        <td>
            {% if perms.inventory.change_locationnote %}
            <a href="{% url 'inventory__location_note-update' pk=location_note.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_locationnote %}
            <a href="{% url 'inventory__location_note-delete' pk=location_note.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<h3>Devices</h3>

<table>
    <tr>
        <th>Reference Number</th>
        <th>Emulab Node Name</th>
        <th>Node Type</th>
        <th>Serial Number</th>
        <th>Location</th>
        <th>Role</th>
        <th>Barcode</th>
        {% if perms.inventory.add_device or perms.inventory.change_device or perms.inventory.delete_device %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_device %}
            <a href="{% url 'inventory__location-device-create' pk=object.pk %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for device in object.device_set.all %}
    <tr>
        <td>
            <a href="{% url 'inventory__device-detail' pk=device.pk %}">
                {{ device.reference_number_str }}
            </a>
        </td>
        <td>{{ device.emulab_node_name }}</td>
        <td>
            <a href="{{ device.get_absolute_url }}">
                {{ device.node_type }}
            </a>
        </td>
        <td>{{ device.serial_number }}</td>
        <td>
            <a href="{{ device.location.get_absolute_url }}">
                {{ device.location }}
            </a>
        </td>
        <td>
            {% if device.role is not None %}
            <a href="{{ device.role.get_absolute_url }}">
            {% endif %}
                {{ device.role }}
            {% if device.role is not None %}
            </a>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'inventory__device-barcode' pk=device.pk %}"
                target="_blank">barcode</a>
        </td>
        {% if perms.inventory.add_device or perms.inventory.change_device or perms.inventory.delete_device %}
        <td>
            {% if perms.inventory.change_device %}
            <a href="{% url 'inventory__device-update' pk=device.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_device %}
            <a href="{% url 'inventory__device-delete' pk=device.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>


<h3>Images</h3>

<table>
    <tr>
        <th>
            Image
        </th>
        {% if perms.inventory.add_locationimage or perms.inventory.delete_locationimage %}
        <th>
            {% if perms.inventory.add_locationimage %}
            <a href="{% url 'inventory__location_image-upload' location_pk=object.pk %}">
                +
            </a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for image in object.locationimage_set.all %}
    <tr>
        <td>
            <img src="{{ image.get_absolute_url }}"
                 width="{{ image.width }}"
                 height="{{ image.height }}"></img>
        </td>
        {% if perms.inventory.add_locationimage or perms.inventory.delete_locationimage %}
        <td>
            {% if perms.inventory.delete_locationimage %}
            <a href="{% url 'inventory__location_image-delete' pk=image.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>


{% endblock %}
