{% extends 'base.html' %}

{% block title %}Node Type List{% endblock %}

{% block body %}

<table>
    <tr>
        <th>Node Type</th>
        <th>Short Name</th>
        {% if perms.inventory.add_nodetype or perms.inventory.change_nodetype or perms.inventory.delete_nodetype %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_nodetype %}
            <a href="{% url 'inventory__node_type-create' %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for node_type in object_list %}
    <tr>
        <td>
            <a href="{{ node_type.get_absolute_url }}">
                {{ node_type.type_name }}
            </a>
        </td>
        <td>{{ node_type.short_name }}</td>
        {% if perms.inventory.add_nodetype or perms.inventory.change_nodetype or perms.inventory.delete_nodetype %}
        <td>
            {% if perms.inventory.change_nodetype %}
            <a href="{% url 'inventory__node_type-update' pk=node_type.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_nodetype %}
            <a href="{% url 'inventory__node_type-delete' pk=node_type.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
