{% extends "base.html" %}

{% block title %}Node Port Details{% endblock %}

{% block body %}
<div>
    <a href="{% url 'inventory__node_port-update' pk=object.pk %}">edit</a>
</div>
<table>
    <tr>
        <th>Node Type</th>
        <td>
            <a href="{{ object.node_type.get_absolute_url }}">
                {{ object.node_type }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Port Name</th>
        <td>{{ object.port_name }}</td>
    </tr>
    <tr>
        <th>Port Class</th>
        <td>
            <a href="{{ object.port_class.get_absolute_url }}">
                {{ object.port_class }}
            </a>
        </td>
    </tr>
</table>

{% endblock %}
