{% extends "base.html" %}

{% block title %}Node Port Class Details{% endblock %}

{% block body %}
<div>
    <a href="{% url 'inventory__node_port_class-update' pk=object.pk %}">edit</a>
</div>

<h3>Details</h3>

<table>
    <tr>
        <th>Class Name</th>
        <td>{{ object.class_name }}</td>
    </tr>
    <tr>
        <th>Connection Sink (arrow towards us on links)</th>
        <td>{{ object.connection_sink }}</td>
    </tr>
</table>

<h3>Compatibility</h3>

<table>
    <tr>
        <th>Compatible Port Class</th>
        <th>Connection Sink</th>
    </tr>
    {% for node_port_class_other in object.compatible_opposite_ports.all %}
    <tr>
        <td>
            <a href="{{ node_port_class_other.get_absolute_url }}">{{ node_port_class_other.class_name }}</a>
        </td>
        <td>{{ node_port_class_other.connection_sink }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Node Ports</h3>

<table>
    <tr>
        <th>Port Name</th>
        <th>Node Type</th>
        {% if perms.inventory.add_nodeport or perms.inventory.change_nodeport or perms.inventory.delete_nodeport %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_nodeport %}
            <a href="{% url 'inventory__node_port_class-node_port-create' pk=object.pk %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for node_port in object.nodeport_set.all %}
    <tr>
        <td>
            <a href="{{ node_port.get_absolute_url }}">
                {{ node_port.port_name }}
            </a>
        </td>
        <td>
            <a href="{{ node_port.node_type.get_absolute_url }}">
                {{ node_port.node_type }}
            </a>
        </td>
        {% if perms.inventory.add_nodeport or perms.inventory.change_nodeport or perms.inventory.delete_nodeport %}
        <td>
            {% if perms.inventory.change_nodeport %}
            <a href="{% url 'inventory__node_port-update' pk=node_port.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_nodeport %}
            <a href="{% url 'inventory__node_port-delete' pk=node_port.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
