{% extends 'base.html' %}

{% block title %}Node Port List{% endblock %}

{% block body %}

<table>
    <tr>
        <th>Port Name</th>
        <th>Node Type</th>
        <th>Port Class</th>
        {% if perms.inventory.add_nodeport or perms.inventory.change_nodeport or perms.inventory.delete_nodeport %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_nodeport %}
            <a href="{% url 'inventory__node_port-create' %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for node_port in object_list %}
    <tr>
        <td>
            <a href="{{ node_port.get_absolute_url }}">
                {{ node_port.port_name }}
            </a>
        </td>
        <td>
            <a href="{{ node_port.node_type.get_absolute_url }}">
                {{ node_port.node_type }}
            </a>
        </td>
        <td>
            <a href="{{ node_port.port_class.get_absolute_url }}">
                {{ node_port.port_class }}
            </a>
        </td>
        {% if perms.inventory.add_nodeport or perms.inventory.change_nodeport or perms.inventory.delete_nodeport %}
        <td>
            {% if perms.inventory.change_nodeport %}
            <a href="{% url 'inventory__node_port-update' pk=node_port.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_nodeport %}
            <a href="{% url 'inventory__node_port-delete' pk=node_port.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
