{% extends 'base.html' %}

{% block title %}Node Port Class List{% endblock %}

{% block body %}

<table>
    <tr>
        <th>Class Name</th>
        <th>Compatible Port Classes</th>
        <th>Connection Sink</th>
        {% if perms.inventory.add_node_port_class or perms.inventory.change_node_port_class or perms.inventory.delete_node_port_class %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_node_port_class %}
            <a href="{% url 'inventory__node_port_class-create' %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for node_port_class in object_list %}
    <tr>
        <td>
            <a href="{{ node_port_class.get_absolute_url }}">
                {{ node_port_class.class_name }}
            </a>
        </td>
        <td>
            {% for node_port_class_other in node_port_class.compatible_opposite_ports.all %}
              {{ node_port_class_other.class_name }}
              {% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
        <td>
            {{ node_port_class.connection_sink }}
        </td>
        {% if perms.inventory.add_node_port_class or perms.inventory.change_node_port_class or perms.inventory.delete_node_port_class %}
        <td>
            {% if perms.inventory.change_node_port_class %}
            <a href="{% url 'inventory__node_port_class-update' pk=node_port_class.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_node_port_class %}
            <a href="{% url 'inventory__node_port_class-delete' pk=node_port_class.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
