{% extends "base.html" %}

{% block title %}Node Type Details{% endblock %}

{% block body %}
<div>
    <a href="{% url 'inventory__node_type-update' pk=object.pk %}">edit</a>
</div>

<h3>Details</h3>

<table>
    <tr>
        <th>Node Type</th>
        <td>{{ object.type_name }}</td>
    </tr>
    <tr>
        <th>Short Name</th>
        <td>{{ object.short_name }}</td>
    </tr>
</table>


<h3>Roles</h3>

<table>
    <tr>
        <th>Role</th>
        <th>Node Type</th>
        {% if perms.inventory.add_role or perms.inventory.change_role or perms.inventory.delete_role %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_role %}
            <a href="{% url 'inventory__node_type-role-create' pk=object.pk %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for role in object.role_set.all %}
    <tr>
        <td>
            <a href="{{ role.get_absolute_url }}">
                {{ role.description }}
            </a>
        </td>
        <td>
            <a href="{{ role.node_type.get_absolute_url }}">
                {{ role.node_type }}
            </a>
        </td>
        {% if perms.inventory.add_role or perms.inventory.change_role or perms.inventory.delete_role %}
        <td>
            {% if perms.inventory.change_role %}
            <a href="{% url 'inventory__role-update' pk=role.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_role %}
            <a href="{% url 'inventory__role-delete' pk=role.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<h3>Ports</h3>

<table>
    <tr>
        <th>Port Name</th>
        <th>Node Type</th>
        <th>Port Class</th>
        {% if perms.inventory.add_nodeport or perms.inventory.change_nodeport or perms.inventory.delete_nodeport %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_nodeport %}
            <a href="{% url 'inventory__node_type-node_port-create' pk=object.pk %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for node_port in object.nodeport_set.all %}
    <tr>
        <td>
            <a href="{{ node_port.get_absolute_url }}">
                {{ node_port.port_name }}
            </a>
        </td>
        <td>
            <a href="{{ node_port.node_type.get_absolute_url }}">
                {{ node_port.node_type }}
            </a>
        </td>
        <td>
            <a href="{{ node_port.port_class.get_absolute_url }}">
                {{ node_port.port_class }}
            </a>
        </td>
        {% if perms.inventory.add_nodeport or perms.inventory.change_nodeport or perms.inventory.delete_nodeport %}
        <td>
            {% if perms.inventory.change_nodeport %}
            <a href="{% url 'inventory__node_port-update' pk=node_port.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_nodeport %}
            <a href="{% url 'inventory__node_port-delete' pk=node_port.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<h3>Devices</h3>

<table>
    <tr>
        <th>Reference Number</th>
        <th>Emulab Node Name</th>
        <th>Node Type</th>
        <th>Serial Number</th>
        <th>Location</th>
        <th>Role</th>
        <th>Barcode</th>
        {% if perms.inventory.add_device or perms.inventory.change_device or perms.inventory.delete_device %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_device %}
            <a href="{% url 'inventory__node_type-device-create' pk=object.pk %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for device in object.device_set.all %}
    <tr>
        <td>
            <a href="{% url 'inventory__device-detail' pk=device.pk %}">
                {{ device.reference_number_str }}
            </a>
        </td>
        <td>{{ device.emulab_node_name }}</td>
        <td>
            <a href="{{ device.get_absolute_url }}">
                {{ device.node_type }}
            </a>
        </td>
        <td>{{ device.serial_number }}</td>
        <td>
            <a href="{{ device.location.get_absolute_url }}">
                {{ device.location }}
            </a>
        </td>
        <td>
            <a href="{{ device.role.get_absolute_url }}">
                {{ device.role }}
            </a>
        </td>
        <td>
            <a href="{% url 'inventory__device-barcode' pk=device.pk %}"
                target="_blank">barcode</a>
        </td>
        {% if perms.inventory.add_device or perms.inventory.change_device or perms.inventory.delete_device %}
        <td>
            {% if perms.inventory.change_device %}
            <a href="{% url 'inventory__device-update' pk=device.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_device %}
            <a href="{% url 'inventory__device-delete' pk=device.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>


<h3>Images</h3>

<table>
    <tr>
        <th>
            Image
        </th>
        {% if perms.inventory.add_nodetypeimage or perms.inventory.delete_nodetypeimage %}
        <th>
            {% if perms.inventory.add_nodetypeimage %}
            <a href="{% url 'inventory__node_type_image-upload' node_type_pk=object.pk %}">
                +
            </a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for image in object.nodetypeimage_set.all %}
    <tr>
        <td>
            <img src="{{ image.get_absolute_url }}"
                 width="{{ image.width }}"
                 height="{{ image.height }}"></img>
        </td>
        {% if perms.inventory.add_nodetypeimage or perms.inventory.delete_nodetypeimage %}
        <td>
            {% if perms.inventory.delete_nodetypeimage %}
            <a href="{% url 'inventory__node_type_image-delete' pk=image.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>


{% endblock %}
