{% extends "base.html" %}

{% block title %}Role Details{% endblock %}

{% block body %}
<div>
    <a href="{% url 'inventory__role-update' pk=object.pk %}">edit</a>
</div>

<h3>Details</h3>

<table>
    <tr>
        <th>Role</th>
        <td>{{ object.description }}</td>
    </tr>
    <tr>
        <th>Node Type</th>
        <td>{{ object.node_type }}</td>
    </tr>
</table>

<h3>Devices</h3>

<table>
    <tr>
        <th>Reference Number</th>
        <th>Emulab Node Name</th>
        <th>Node Type</th>
        <th>Serial Number</th>
        <th>Location</th>
        <th>Role</th>
        <th>Barcode</th>
        {% if perms.inventory.add_device or perms.inventory.change_device or perms.inventory.delete_device %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_device %}
            <a href="{% url 'inventory__role-device-create' pk=object.pk %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for device in object.device_set.all %}
    <tr>
        <td>
            <a href="{% url 'inventory__device-detail' pk=device.pk %}">
                {{ device.reference_number_str }}
            </a>
        </td>
        <td>{{ device.emulab_node_name }}</td>
        <td>
            <a href="{{ device.get_absolute_url }}">
                {{ device.node_type }}
            </a>
        </td>
        <td>{{ device.serial_number }}</td>
        <td>
            <a href="{{ device.location.get_absolute_url }}">
                {{ device.location }}
            </a>
        </td>
        <td>
            <a href="{{ device.role.get_absolute_url }}">
                {{ device.role }}
            </a>
        </td>
        <td>
            <a href="{% url 'inventory__device-barcode' pk=device.pk %}"
                target="_blank">barcode</a>
        </td>
        {% if perms.inventory.add_device or perms.inventory.change_device or perms.inventory.delete_device %}
        <td>
            {% if perms.inventory.change_device %}
            <a href="{% url 'inventory__device-update' pk=device.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_device %}
            <a href="{% url 'inventory__device-delete' pk=device.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>


{% endblock %}
