{% extends 'base.html' %}

{% block title %}Role List{% endblock %}

{% block body %}

<table>
    <tr>
        <th>Role</th>
        <th>Node Type</th>
        {% if perms.inventory.add_role or perms.inventory.change_role or perms.inventory.delete_role %}
        <th class="edit_delete_column">
            {% if perms.inventory.add_role %}
            <a href="{% url 'inventory__role-create' %}">+</a>
            {% endif %}
        </th>
        {% endif %}
    </tr>
    {% for role in object_list %}
    <tr>
        <td>
            <a href="{{ role.get_absolute_url }}">
                {{ role.description }}
            </a>
        </td>
        <td>
            <a href="{{ role.node_type.get_absolute_url }}">
                {{ role.node_type }}
            </a>
        </td>
        {% if perms.inventory.add_role or perms.inventory.change_role or perms.inventory.delete_role %}
        <td>
            {% if perms.inventory.change_role %}
            <a href="{% url 'inventory__role-update' pk=role.pk %}">edit</a>
            {% endif %}
            {% if perms.inventory.delete_role %}
            <a href="{% url 'inventory__role-delete' pk=role.pk %}">x</a>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
