{% extends "base.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" />
</form>
{% endblock %}
