table {
    border-color: black;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-spacing: 0;
}

td, th {
    border-color: black;
    border-width: 1px 1px 0 0;
    border-style: solid;
    padding: 2px;
}

th {
    background-color: #bbb;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #fff;
}

#nav {
    float: left;
    width: 200px;
    height: 100vh;
    margin: 5px;
}

#nav ul {
    padding-left: 16px;
    margin-top: 0px;
}

th.edit_delete_column {
    width: 3em;
}

body {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}
