{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %} "
            />
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"
            type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="nav">
            <ul>
                <li>
                    <a href="{% url 'inventory__scan_barcode' %}">
                        Scan Barcode
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory__location-list' %}">
                        Locations
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory__node_type-list' %}">
                        Node Types
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory__role-list' %}">
                        Roles
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory__node_port_class-list' %}">
                        Node Port Classes
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory__node_port-list' %}">
                        Node Ports
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory__device-list' %}">
                        Devices
                    </a>
                </li>
                <li>
                    <a href="{% url 'inventory__device_connection-scan' %}">
                        Connect Devices
                    </a>
                </li>
                {% if perms.special_powers.leigh_permission %}
                <li>
                    <a href="{% url 'special_powers__leigh' %}">
                        epsilon
                    </a>
                </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <div>
                <a href="{% url 'login' %}">login</a>
            </div>
            <div>
                <a href="{% url 'auth__signup' %}">signup</a>
            </div>
            {% endif %}
        </div>
        <div id="main">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
