{% extends "base.html" %}

{% block title %}Confirm Delete{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <div>You did mean to delete {{ object }} right?</div>
    <input type="submit" value="Yep" />
</form>
{% endblock %}
